<div class="d-flex flex-column h-100" *ngIf="speech">
  <app-layout-header>
    <div class="px-5 py-4 d-flex w-100 align-items-center">
      <a
        [routerLink]="['/speeches/share', speech.id]"
        class="btn btn-secondary"
      >
        <i class="bi bi-share-fill"></i>
        <span class="hide-420px ms-1">Share</span>
      </a>
      <a
        [routerLink]="['/speeches/edit', speech.id]"
        class="btn btn-primary ms-auto text-white"
      >
        <i class="bi bi-pencil-square"></i>
        <span class="hide-420px ms-1">Edit speech</span>
      </a>
      <span class="mx-3">|</span>
      <button class="btn btn-danger text-white" (click)="onDelete()">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </app-layout-header>

  <div class="d-lg-flex py-3 px-5">
    <div>
      <app-keyword-badge
        class="w-100"
        [keywords]="speech.keywords"
      ></app-keyword-badge>
    </div>
    <div class="ms-auto text-right">
      <small><strong>Author:</strong> {{ speech.author }}</small>
      &nbsp;|&nbsp;
      <small><strong>Speech date:</strong> {{ speech.date | date }}</small>
    </div>
  </div>

  <div class="speech-content w-100 h-100">
    <ng-scrollbar [autoHeightDisabled]="true" [autoWidthDisabled]="true">
      <div class="px-5 pb-5">{{ speech.content }}</div>
    </ng-scrollbar>
  </div>
</div>
