<a
  (click)="onClick()"
  [routerLink]="['speeches', speech.id]"
  [routerLinkActive]="['active']"
  class="list-group-item list-group-item-action flex-column align-items-start"
>
  <div class="d-flex w-100 justify-content-between">
    <p class="pe-3">
      <strong>{{ speech.content | truncateWord : 12 }}...</strong>
    </p>
    <small class="flex-shrink-0">{{ speech.date | date }}</small>
  </div>
  <div class="d-flex align-items-top">
    <small class="flex-shrink-0 me-1 mb-1">{{ speech.author }}</small>
    <app-keyword-badge
      class="w-100"
      className="justify-content-end"
      [keywords]="speech.keywords"
    ></app-keyword-badge>
  </div>
</a>
